.loader {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 5px solid var(--red-dark);
  border-bottom-color: transparent;
  pointer-events: none;
  display: inline-block;
}

.secondary {
  width: 22px;
  height: 22px;
  border: 3px solid var(--white);
  border-bottom-color: transparent;
}

@media (prefers-reduced-motion: no-preference) {
  .loader {
    animation: spin infinite 1s linear;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
